<%- console.log("hc-views/pages/cover.ejs") %>
<!-- splash.ejs gets loaded by hc-views/layout/index.ejs -->
<!-- as < %- include(`../pages/${sectionName}`, locals) % > -->
<!-- where sectionName = "cover"  -->

<section id="cover-contents">
	<div style="display: none">source file: hc-views/pages/cover.ejs</div>
</section>
