<%- console.log("✅ LOADED hc-views/pages/cover.ejs") %>
<!-- cover.ejs gets loaded by hc-views/layout/main-loader.ejs -->
<!-- as < %- include("../pages/${sectionName}", locals) % > -->
<!-- where sectionName = "cover"  -->

<section id="cover-contents">
	<div style="display: none">source file: hc-views/pages/cover.ejs</div>
	<div id="cover-image-container">
		<img
			src="/hc-static-images/hc-static-images-music-wallpaper.webp"
			id="cover-image"
			class="music-wallpaper"
		/>
	</div>
</section>
