<%- console.log("✅ LOADED hc-views/pages/splash.ejs") %>
<!-- splash.ejs gets loaded by hc-views/layout/main-loader.ejs -->
<!-- as < %- include("../pages/${sectionName}", locals) % > -->
<!-- where sectionName = "splash"  -->

<section id="header-contents" class="dark-text">
	<div style="display: none">source file: hc-views/pages/splash.ejs</div>
	<div id="splash-text-logo" class="container">
		<div id="top-headline" class="font-18 font-light headline">
			HarmonyCue.com
		</div>
		<div id="top-subhead" class="font-8 font-light subhead">
			Rehearse Smarter. Sing Stronger!
		</div>
		<div id="hc-logo-top-div">
			<img
				src="/hc-static-images/hc-static-images-HCLogo_Dark.svg"
				id="hc-logo-top"
				class="hc-logo-top"
			/>
		</div>
		<div id="splash-pad" class="splash-pad"></div>
	</div>
</section>
