/* `hc-static-css-layout` */

#page-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

#page-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.vert-center {
	align-items: center;
}

.horiz-center {
	justify-content: center;
}

.scroll-lock {
	overflow: hidden;
	height: 100vh;
}

#container-0,
#container-1,
#container-2,
#parallax-header,
#sample-container,
#container-3 {
	opacity: 1;
}

#container-4 {
	opacity: 0;
	top: 0;
}
